<div class="flex-grow-1 d-flex flex-column info-background-image">
    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
        <mat-card>
            <mat-card-title>Bogota's Townwide Garage Sale</mat-card-title>
            <mat-card-subtitle>Saturday, September 21st, 2019! Rain or Shine.</mat-card-subtitle>
            <mat-card-content>
                <p>What do you get for $15?</p>
                <ul style="list-style-type:circle">
                    <li>A listing of the items for sale on both the GoBandGo.info interactive Google map and the
                        printable
                        map.</li>
                    <li>A picture on GoBandGo.info promoting your sale and linked to your listing.</li>
                    <li>A BHS Band supporter sign for your lawn to send buyers to you.</li>
                    <li>A listing in
                        <a href="http://classifieds.northjersey.com/category.php?place=Buy%2FSell&posit=Garage+Sale"
                            target="_blank">The Record's Garage Sale section </a>the week before the sale.</li>
                    <li>A notice on
                        <a href="https://newjersey.craigslist.org/search/sss?query=garage+sale"
                            target="_blank">Craigslist North
                            Jersey</a> in the days before the sale.</li>
                </ul>
                <p>Send your $15 check made out to Bogota Band Parents Organization, c/o Anthony Hardwick, 120 E. Grove
                    Street, Bogota,
                    NJ 07603.
                </p>
                <p>Contact a_hardwick@yahoo.com with questions</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>