<div class="flex-grow-1 d-flex flex-column">
  <div class="flex-grow-1 d-flex justify-content-center">
    <h1>Bogota's Townwide Garage Sale Saturday, September 22nd, 2018!</h1>
  </div>
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <slideshow *ngIf="slideshowImageUrls.length" [imageUrls]="slideshowImageUrls" [minHeight]="'400px'" [lazyLoad]="slideshowImageUrls?.length > 1"
      [autoPlayWaitForLazyLoad]="true" [autoPlay]="true" style="width: 100%;">
    </slideshow>
  </div>
</div>
